<div  data-role="view" data-title="Details" data-model="app.workshops.workshopsModel" data-bind="events: { show: detailsShow }" id="workshopsModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.date" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;">
            </span>
        </div>
    </header>

    <div class="details-content">

        <div  data-role="navbar" >
                <input id="switch" type="checkbox" data-role="switch" data-bind="{checked: checked, events: { change: changeSwitch }}" />
            <span> Adicionar a agenda  </span>
        </div>

        <h3 data-bind="text: currentItem.name"></h3>
        <p data-bind="text: currentItem.description"></p>
        <img data-bind="attr: { src: currentItem.photoUrl }" width="100%" height="auto">
    </div>
    <!-- START_CUSTOM_CODE_workshopsModel -->
    <!-- END_CUSTOM_CODE_workshopsModel -->
</div>