<div data-role="view" data-title="Workshops" data-layout="main" data-model="app.workshops" data-show="app.workshops.onShow" data-after-show="app.workshops.afterShow">

    <!-- START_CUSTOM_CODE_workshops -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_workshops -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-role="view-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

            <a data-role="button" data-align="right" data-bind="events: { click: workshopsModel.addClick }">Add</a>
        </div>
    </header>


    <ul data-role="listview" data-style="inset" data-template="workshopsModelTemplate" data-bind="{ source: workshopsModel.dataSource, events: {click: workshopsModel.itemClick} }" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_workshopsModel -->
    <!-- END_CUSTOM_CODE_workshopsModel -->
    <script type="text/x-kendo-template" id="workshopsModelTemplate">
        <div class="image-with-text">
            <h3>#: data['name'] #</h3>
            <p>#: data['presenter'] #</p>
        </div>
    </script>
</div>