<div data-role="view" data-title="Add" data-model="app.conferences.addItemViewModel" data-bind="events: { show: onShow }" id="conferencesModelAddItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_conferencesModel -->
    <!-- END_CUSTOM_CODE_conferencesModel -->
    <div id="editableListForm12" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm12 -->
        <!-- END_CUSTOM_CODE_editableListForm12 -->
    </div>
</div>