<div data-role="view" data-title="Como Chegar?" data-layout="main" data-init="app.locationService.initLocation" data-show="app.locationService.show" data-hide="app.locationService.hide" data-model="app.locationService.viewModel" data-stretch="true">
	<!-- START_CUSTOM_CODE_location -->
	<!--Location View-->
	<div id="map-canvas" class="map" data-bind="visible: isGoogleMapsInitialized"></div>
	<div id="no-map" data-bind="invisible: isGoogleMapsInitialized">
		<h3>Location requires internet connection to display the map.</h3>
	</div>
	<!-- END_CUSTOM_CODE_location -->
</div>